*.pyc
*.env
Implementacija/Kavijar-project/.env
Implementacija/Kavijar-project/kavijar.egg-info/dependency_links.txt
Implementacija/Kavijar-project/kavijar.egg-info/requires.txt
Implementacija/Kavijar-project/kavijar.egg-info/SOURCES.txt
Implementacija/Kavijar-project/kavijar.egg-info/top_level.txt
*.pyc
