<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{{ url_for("static",filename="css/style.css") }}'>
    <link rel="stylesheet" href='{{ url_for("static",filename="css/bootstrap.min.css") }}'>
    {% block head %} {% endblock %}
</head>

<body class='background myFont'>
    <div class="container-fluid">
    <div class='row'>
        <div class="col-sm-12">
                <h2 class = "logobar"><span class='logobartxt'>     
                {% if g.user.role == 'A' %}
                [Admin]
                {% endif %}
                {% if g.user.role == 'M' %}
                [Moderator]
                {% endif %}
                <b>{{g.user.username}}</b>
            </span>
                {% if g.user.role=='I' %}
                <img class='cityimgmini' src='{{url_for("static", filename="img/villager.png") }}'> <span style='font-size:14px'>{{g.city.civilians}}</span>
                <img class='cityimgmini' src='{{url_for("static", filename="img/gold.png") }}'> <span style='font-size:14px'>{{g.city.gold|int}}</span>
                <img class='cityimgmini' src='{{url_for("static", filename="img/wood.png") }}'> <span style='font-size:14px'>{{g.city.wood|int}}</span>
                <img class='cityimgmini' src='{{url_for("static", filename="img/stone.png") }}'> <span style='font-size:14px'>{{g.city.stone|int}}</span>
                {% endif %}
                <div style='float:right;'>
                <a  href='{{ url_for("auth.logout") }}'> <button type='button' class = 'def-button logo-button'>
                    Izloguj se
                </button> </a>
                <a href='{{ url_for("mail.msg_main") }}'><button type='button' class = 'def-button logo-button'> Pošta {% if g.user.statusUpdate>0 %}<span class='badge'>{{ g.user.statusUpdate }}</span> {% endif %} </button>

                </a>

            <a href='{{ url_for("chat.sessions") }}' target="popup" 
            onclick="window.open('chat.html','popup','width=550,height=465');"><button type='button' class = 'def-button logo-button'> Čet </button></a>
            <a href='{{ url_for("redirect_page.redirect_page") }}'><button type='button' class = 'def-button logo-button'>Početna</button></a>

            {% if g.user.role=='I' %}
            <a href='{{ url_for("playercity.player_city") }}'><button type='button' class = 'def-button logo-button'>{{g.city.name}}</button></a>
            {% endif %}

            </div>
            </h2>
        </div>
    </div>
        {% block body %}
        {% endblock %}

                {% if building_info.level==0 %}
                <form action='/playercity/upgrade_building/{{building_info.type}}' method='POST'>
                <input type='submit' value="Izgradi" class='def-button'>
                <img class='cityimgsm' src='{{url_for("static", filename="img/gold.png") }}'> {{upgrade_cost.gold|int}}
            <img class='cityimgsm' src='{{url_for("static", filename="img/wood.png") }}'> {{upgrade_cost.wood|int}}
            <img class='cityimgsm' src='{{url_for("static", filename="img/stone.png") }}'> {{upgrade_cost.stone|int}}
                </form>
                <br>
                {% else %}
                    {% if building_info.status=='U' %}
                    <form action='/playercity/halt_building/{{building_info.type}}' method='POST'>
                        <input type='submit' value="Zaustavi konstrukciju" class='def-button'>
                    </form><br>
                    {% else %}

                        {% if building_info.level < 5 %}
                        <form action='/playercity/upgrade_building/{{building_info.type}}' method='POST'>
                            <input type='submit' value="Unapredi" class='def-button'><img class='cityimgsm' src='{{url_for("static", filename="img/gold.png") }}'> {{upgrade_cost.gold|int}}
                            <img class='cityimgsm' src='{{url_for("static", filename="img/wood.png") }}'> {{upgrade_cost.wood|int}}
                            <img class='cityimgsm' src='{{url_for("static", filename="img/stone.png") }}'> {{upgrade_cost.stone|int}}
                        </form><br>
                        {% endif %}
                    {% endif %}
                {% endif %}
        {% for message in get_flashed_messages() %}
        <button class="error-msg" disabled>{{ message }}</button>
        {% endfor %}
    </div> 
</body>
</html>

