<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{{ url_for("static",filename="css/style.css") }}'>
    <link rel="stylesheet" href='{{ url_for("static",filename="css/bootstrap.min.css") }}'>
    {% block head %} {% endblock %}
</head>

<body class='background myFont'>
    <div class="container-fluid">
    <div class='row'>
        <div class="col-sm-12">
                <h2 class = "logobar"><span class='logobartxt'>KAVIJAR      </span>
                {% if g.user.role == 'A' %}
                [Admin]
                {% endif %}
                {% if g.user.role == 'M' %}
                [Moderator]
                {% endif %}
                <b>{{g.user.username}}</b>
                <div style='float:right;'>
                <a  href='{{ url_for("auth.logout") }}'> <button type='button' class = 'def-button logo-button'>
                    Izloguj se
                </button> </a>
                <a href='{{ url_for("mail.msg_main") }}'><button type='button' class = 'def-button logo-button'> Pošta {% if g.user.statusUpdate>0 %}<span class='badge'>{{ g.user.statusUpdate }}</span> {% endif %} </button>

                </a>

            <a href='{{ url_for("chat.sessions") }}' target="popup" 
            onclick="window.open('chat.html','popup','width=550,height=465');"><button type='button' class = 'def-button logo-button'> Čet </button></a>
            <a href='{{ url_for("redirect_page.redirect_page") }}'><button type='button' class = 'def-button logo-button'>Početna</button></a>
            </div>
            </h2>
        </div>
    </div>
        {% block body %}
        {% endblock %}
        <div class="row-fluid">
            <div class="col-sm-12">
                {% if building_info.level==0 %}
                <form action='/playercity/upgrade_building/{{building_info.type}}' method='POST'>
                <input type='submit' value="Izgradi" class='def-button'>
                </form>
                {% else %}
                    {% if building_info.status=='U' %}
                    <form action='/playercity/halt_building/{{building_info.type}}' method='POST'>
                        <input type='submit' value="Zaustavi konstrukciju" class='def-button'>
                    </form>
                    {% else %}

                        {% if building_info.level < 5 %}
                        <form action='/playercity/upgrade_building/{{building_info.type}}' method='POST'>
                            <input type='submit' value="Unapredi" class='def-button'>
                        </form>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>
        </div>
        {% for message in get_flashed_messages() %}
        <button class="error-msg" disabled>{{ message }}</button>
        {% endfor %}
    </div> 
</body>
</html>

