<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{{ url_for("static",filename="css/style.css") }}'>
    <link rel="stylesheet" href='{{ url_for("static",filename="css/bootstrap.min.css") }}'>
    {% block head %} {% endblock %}
</head>

<body class='background myFont'>
        
    <div><h2 class = "logobar"><span class='logobartxt'>KAVIJAR      </span>
        {% if g.user.role == 'A' %}
        [Admin]
        {% endif %}
        <b>{{g.user.username}}</b>
        <a  href='{{ url_for("auth.logout") }}'> <button type='button' class = 'def-button logo-button'>
            Izloguj se
        </button> </a>
        <a><button type='button' class = 'def-button logo-button'> Pošta {% if g.user.statusUpdate>0 %}<span class='badge'>{{ g.user.statusUpdate }}</span> {% endif %} </button>

        </a>

       <a><button type='button' class = 'def-button logo-button'> Čet </button></a>
 
        </h2>
    </div>
        {% block body %}
        {% endblock %}
    

</body>
</html>

