.background
{
	background-image: url('/static/img/bgdark.jpg');
	background-size:cover;
}
.backgroundtrans
{
	background-image: url('/static/img/bgtrans.jpg');
	background-size:cover;
}

@font-face { font-family: Anglodavek; src: url('fonts/Anglodavek.otf'); } 
@font-face { font-family: Anglodavek; font-weight: bold; src: url('fonts/Anglodavek\ Bold.otf');}

@font-face { font-family: Elder; src: url('fonts/eldermagic.ttf'); } 

@font-face { font-family: Immortal; src: url('fonts/IMMORTAL.ttf'); } 

.login-button {
	width:20%;
	min-width:180px;
}



.login-input
{
	width:15%;
	min-width:140px;
	height:30px;
}

.input {
	padding: 5px;
	font-size: 20px;
	font-family: Immortal;
	color:rgb(233, 171, 0);
	border-width: 1px;
	border-color:rgb(233, 171, 0);
	background-color: rgb(19, 19, 19);
	border-style: solid;
	border-radius: 0px;
	box-shadow: 5px 3px 9px rgba(0,0,0,.80);
	text-shadow: 0px 0px 0px rgba(66,66,66,.100);
}
.input:focus {
	outline:none;
}

.myFont 
{
	letter-spacing: 2px;
	word-spacing: 1px;
	font-size: 20px;
	font-family: Immortal;
	color:rgb(233, 171, 0);
	font-weight: bold;
	text-decoration: none solid rgb(68, 68, 68);
	font-style: normal;
	font-variant: small-caps;
	text-transform: none;
}


.error-msg {
	padding: 15px;
	font-size: 16px;
	border-width: 1px;
	background:linear-gradient(to bottom, #880000 5%, #a80000 100%);
	border-color: #8f0000;
	background-color: #880000;
	color: #ffffff;
	border-style: solid;
	border-radius: 4px;
	box-shadow: 0px 0px 6px rgba(66,66,66,.85);
	text-shadow: 6px 2px 7px rgba(66,66,66,.75);
}


.logobar
{
	background-size: cover;
	border: 10px solid transparent;
	border-image: url('/static/img/border.png') 30 round;
	font-size: 20px;
	font-family: Immortal;
	color:rgb(233, 171, 0);
	border-right:none;
	border-left:none;
	font-weight:bold;
	height:80px;
	border-top:none;
	background-image: url('/static/img/bgdark.jpg');
	background-size:cover;
}



.logobar img
{
	height:80%;
	margin:10px;
}


.badge {
	position: relative;
	top: 0px;
	right: 0px;
	padding: 5px 10px;
	border-radius: 50%;
	background: rgb(233, 171, 0);
	color: black;
  }

 .list
{
	font-size: 16px;
	letter-spacing: 2px;
	word-spacing: 1px;
	margin:2px;
	padding:2px;
	text-decoration: none solid rgb(68, 68, 68);
	font-style: normal;
	font-variant: small-caps;
	text-transform: none;
}



.logo-button {
	
	height:50%;
	margin:10px;
	margin-top:18px;
	vertical-align: center;
	float:right;
}

.def-button
{
	font-size: 20px;
	font-family: Immortal;
	color:rgb(233, 171, 0);
	border-radius:0px;
	border:0px;
	background-image: url('/static/img/btnbg.jpg');
	background-repeat: no-repeat;
	background-size:100% 100%;
	padding:4px 20px;
	text-decoration:none;
	display:inline-block;
	cursor:pointer;

	font-style: normal;
	font-weight: bold;
	font-variant: small-caps;
}

.def-button:hover
{
	opacity:80%;
}
.def-button:focus
{
	outline-color:rgb(233, 171, 0) ;
}
.def-button:active
{
	outline-color:rgb(233, 171, 0) ;
}
.logotext
{
	font-size: 96px;
	margin:20px;
	padding:20px;
}

.logobartxt
{
	vertical-align: center;
	font-size: 42px;
}