.background
{
	background-image: url('/static/img/bg.jpg');
	background-size:100% 100%;
	-webkit-background-size: cover;
    -moz-background-size: cover;
	-o-background-size: cover;
	
}
.backgroundtrans
{
	background-image: url('/static/img/bgtrans.jpg');
	background-size:cover;
}

 


::-webkit-datetime-edit-fields-wrapper { background:rgb(19, 19, 19); }
::-webkit-datetime-edit-text { color: rgb(233, 171, 0);  }
::-webkit-datetime-edit-month-field { color: rgb(233, 171, 0); }
::-webkit-datetime-edit-day-field { color: rgb(233, 171, 0); }
::-webkit-datetime-edit-year-field { color: rgb(233, 171, 0); }
::-webkit-inner-spin-button { display: none; }
::-webkit-calendar-picker-indicator { background:rgb(19, 19, 19); }
::-webkit-clear-button {background: rgb(233, 171, 0); }



::-webkit-scrollbar{width:10px}
::-webkit-scrollbar-track{background: rgb(19, 19, 19);border-radius:4px; opacity:0%;}
::-webkit-scrollbar-thumb{background:rgb(233, 171, 0);;border-radius:4px}
::-webkit-scrollbar-corner{opacity:0%;}


@font-face { font-family: Anglodavek; src: url('fonts/Anglodavek.otf'); } 
@font-face { font-family: Anglodavek; font-weight: bold; src: url('fonts/Anglodavek\ Bold.otf');}

@font-face { font-family: Elder; src: url('fonts/eldermagic.ttf'); } 

@font-face { font-family: Immortal; src: url('fonts/IMMORTAL.ttf'); } 

.login-button {
	width:20%;
	min-width:180px;
}

.login-button:hover {
	cursor: url('/static/img/cursor.png'), auto;
}

.citytile
{
	width:290px;
	height:120px;
	vertical-align:bottom;
	text-align:center;
	font-size:14px;
}


.building
{
	width:120px;
}

.building:hover
{
	-webkit-filter: drop-shadow(1px 1px 0 rgb(233, 171, 0))
                  drop-shadow(-1px -1px 0 rgb(233, 171, 0));
  filter: drop-shadow(1px 1px 0 rgb(233, 171, 0)) 
          drop-shadow(-1px -1px 0 rgb(233, 171, 0));
}
.myBorder
{
	border: 5px solid ;
	border-image: url('/static/img/border.png') 30 round;
	background-image: url('/static/img/formbg1.jpg');
	background-size:cover;
}

.login-input
{
	width:45%;
	min-width:140px;
	height:30px;
}

.cityimg
{
	width:5%;
	min-width: 30px;
}

.cityimgsm
{
	width:3%;
}

.cityimgmini
{
	width:2%;
}
.citytable
{
	background:url('/static/img/citybg.png');
	background-size: cover;
}
.input {
	padding: 5px;
	font-size: 20px;
	font-family: Immortal;
	color:rgb(233, 171, 0);
	border-width: 1px;
	border-color:rgb(233, 171, 0);
	background-color: rgb(39, 23, 0);
	border-style: solid;
	border-radius: 0px;
	box-shadow: 5px 3px 9px rgba(0,0,0,.80);
	text-shadow: 0px 0px 0px rgba(66,66,66,.100);
}

.inputnum {
	width:10%;
}
.input:focus {
	outline:none;
}
.newmsg
{
	width:100%;
	height:250px;
	padding-top: 1px;
	padding-bottom: 1px;
	resize:none;
}
.myFont 
{
	letter-spacing: 2px;
	word-spacing: 1px;
	font-size: 20px;
	font-family: Immortal;
	color:rgb(233, 171, 0);
	font-weight: bold;
	text-decoration: none solid rgb(68, 68, 68);
	font-style: normal;
	font-variant: small-caps;
	text-transform: none;
}


.error-msg {
	padding: 15px;
	font-size: 16px;
	border-width: 0px;
	letter-spacing: 2px;
	word-spacing: 1px;
	font-size: 20px;
	font-family: Immortal;
	background-color:rgb(233, 171, 0);
	color: black;
	width:100%;
	border-radius: 3px;
	box-shadow: 0px 0px 6px rgba(66,66,66,.85);
	text-shadow: 6px 2px 7px rgba(66,66,66,.75);
}


.logobar
{
	background-size: cover;
	border: 10px solid transparent;
	border-image: url('/static/img/border.png') 30 round;
	font-size: 20px;
	font-family: Immortal;
	color:rgb(233, 171, 0);
	font-weight:bold;
	height:80px;
	background-image: url('/static/img/formbg1.jpg');
	background-size:cover;
}

*
{
	cursor: url('/static/img/cursor.png'), auto !important;
}

*:hover
{
	cursor: url('/static/img/cursor.png'), auto;
}

*:active
{
	cursor: url('/static/img/cursor.png'), auto;
}


.badge {
	position: relative;
	top: 0px;
	right: 0px;
	padding: 5px 10px;
	border-radius: 50%;
	background: rgb(233, 171, 0);
	color: black;
  }

 .list
{
	font-size: 16px;
	border: 5px solid transparent;
	border-image: url('/static/img/border.png') 30 round;
	letter-spacing: 2px;
	word-spacing: 1px;
	margin:2px;
	margin-left:50px;
	padding:2px;
	text-decoration: none solid rgb(68, 68, 68);
	font-style: normal;
	font-variant: small-caps;
	text-transform: none;
	min-height:400px;
	max-height:400px;
	overflow:auto;
}


.mailimg
{
	width: 100%;
}
.inbox
{
	font-size: 16px;
	border: 5px solid transparent;
	border-image: url('/static/img/border.png') 30 round;
	letter-spacing: 2px;
	word-spacing: 1px;
	margin:2px;
	margin-left:50px;
	padding:10px;
	text-decoration: none solid rgb(68, 68, 68);
	font-style: normal;
	font-variant: small-caps;
	text-transform: none;
	max-height:600px;
	min-height:600px;
	overflow:auto;
}

.logo-button {
	
	height:45%;
	margin:8px;
	margin-top:13px;
	vertical-align: center;
	float:right;
}

.def-button
{
	font-size: 20px;
	font-family: Immortal;
	color:rgb(233, 171, 0);
	border-radius:1px;
	border:1px;
	border-style: solid;
	border-color:rgb(233, 171, 0);
	background-image: url('/static/img/btnbg.jpg');
	background-repeat: no-repeat;
	background-size:100% 100%;
	padding:4px 20px;
	outline:none;
	letter-spacing: 2px;
	text-decoration:none;
	display:inline-block;
	font-style: normal;
	font-weight: bold;
	font-variant: small-caps;
	overflow-x: hidden;
}


.yellowlink
{
	color:rgb(233, 171, 0) !important;
}


.def-button:hover
{
	opacity:90%;
	cursor: url('/static/img/cursor.png'), auto;
	outline-style: solid;
	outline-color:rgb(233, 171, 0) ;
	outline-width: 1px;
}
.def-button:focus
{
	outline-color:rgb(233, 171, 0) ;
	outline-style: solid;
	outline-width: 2px;
}
.def-button:active
{
	outline-color:rgb(233, 171, 0) ;
	outline-style: solid;
	outline-width: 2px;
}
.logotext
{
	font-size: 96px;
	margin:20px;
	padding:20px;
}

.logobartxt
{
	vertical-align: center;
	font-size: 42px;
	margin:15px;
	margin-top:30px;
}