{% extends 'userbase.html'%}

{% block head %}
<title>Kavijar</title>
<link rel="stylesheet" href='{{ url_for("static",filename="css/styleMap.css") }}'>

{% endblock %}

{% block body %}
<body id="b">
    <script src='{{ url_for("static",filename="js/jquerygame.min.js") }}'></script>
    <script type="text/javascript" src="static/js/jquery.tmpl.min.js"></script>
    <script type="text/javascript" src="static/js/jquery.kinetic.js"></script>
    <script type="text/javascript" src="static/js/jquery.easing.1.3.js"></script>
    <script src='{{ url_for("static",filename="js/jquery.modal.min.js") }}'></script>
    <link rel="stylesheet" href='{{ url_for("static",filename="css/jquery.modal.min.css") }}'>


    <!-- POP UP KOJI TREBA DA SE EDIT SA INFO O GRADU-->
    <div id="ex1" class="modal" style="background: url(static/img/formbg.jpg);" id="editPopUP">
        <p id="cityName" class='myFont' style="text-align: center; font-size: 25px; margin-bottom: 25px;"></p>
        <p class='myFont' style="text-align: center; font-size: 15px;">Vlasnik grada</p>
        <p id="cityOwnerPopUp" class='myFont' style="text-align: center; font-size: 25px; color: wheat;"></p>
        <div class="d-flex justify-content-center">
            <img src = "static/img/map_images/player.png" style="margin-left: auto; margin-right: auto;"></img>
          </div>
        
        <div class="container"style ="margin-bottom: 50px;">
            <div class="row">
              <div class="col-sm" style="text-align: center;">
                <a id='attackButton' href='#'>
                    <button type='button' class = "def-button logo-button" style="height: 50px;">Napadni</button>
                </a>
              </div>
              <div class="col-sm">
               
              </div>
              <div class="col-sm" style="text-align: center;">
                <a id='tradeButton' href='#'>
                    <button type='button' class = "def-button logo-button" style="height: 50px;">Trguj</button>
                </a>
                
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <a href="#" rel="modal:close" style="color: yellow; text-align: center;margin-top: 50px;margin-left: auto; margin-right: auto;">ZATVORI PROZOR</a>
          </div>
       
        
      </div>
    <!--SKRIPTA ZA ISCRTAVANJE MAPE -->
    <div class="container-centered">
         
            <div id="ib-main-wrapper" class="ib-main-wrapper"
            style="
            border: 5px solid ;
	        border-image: url('/static/img/border.png') 30 round;
	        background-image: url('/static/img/formbg1.jpg');
	        background-size:cover;
            margin-top: 6%;
            max-width: 98.5%;
            max-height: 90%;"  >
            <div class="ib-main" id="ibMain">
                
                <script>    
                    //ISCRTAVANJE MAPE                    
                    for(var i=1;i<=30;i++)
                    {
                        
                        for(var j=1;j<=30;j++)
                        {
                        var h  = document.createElement("a");
                        var string_source = "static/img/map_images/gridMap/image_"+i.toString()+"_"+j.toString()+".jpeg";
                        h.setAttribute("style","background: url("+string_source+") no-repeat center center;");
                        h.setAttribute("id",i.toString()+j.toString());
                                      
                        document.getElementById("ibMain").appendChild(h);
                        }                
                    }   
                    //ISCRTAVANJE SVIH GRADOVA
                    var city_array_json = {{city_list | tojson}};
                    for(var i =0;i<city_array_json.length;i++)
                    {
                        var x =  city_array_json[i].xCoord;
                        var y =  city_array_json[i].yCoord;
                        
                        var image_id = x.toString()+","+y.toString();
                        var img = document.createElement("img");
                        
                        img.setAttribute("src","static/img/map_images/cityicon.png");
                        img.setAttribute("class","imgB1");
                        img.setAttribute("id",image_id);

                        img.setAttribute("onclick","openForeignCity(this)");

                        var a = document.getElementById(x.toString()+y.toString()); 
                        a.appendChild(img);

                       
                    }
                            
                </script>
                               
                <div class="clr"></div>
            </div><!-- ib-main -->
            </div><!-- ib-main-wrapper -->
          
          
        
    </div>
 
    <!-- OVA SCRIPTA JE ZA ISCRTAVANJE SVOG GRADA I DODAVANJE HREF -->
    {% for city in city_list %}
        {% if city.ownerName == g.user.username%}   
            <script>
               var x =  {{city.xCoord}};
               var y =    {{city.yCoord}};
               var a = document.getElementById(x.toString()+y.toString()); 
               var image_id = x.toString()+","+y.toString();
               
               document.getElementById(image_id).setAttribute("src","static/img/map_images/mycityicon.png");
               document.getElementById(image_id).setAttribute("onclick","openPlayerCity()");
               var city_coordinate_combination_for_redirection= city_array_json[i].xCoord.toString()+city_array_json[i].yCoord.toString();

               //OVDE JE POTREBNO DA SE OSTAVI HREF KA GRADU 
               document.getElementById(x.toString()+y.toString()).setAttribute("href","");
               a.setAttribute("rel","");
            </script>
        {% else %}
            <script>
                var x =  {{city.xCoord}};
                var y =    {{city.yCoord}};
                var a = document.getElementById(x.toString()+y.toString()); 
                a.setAttribute("href","#ex1");
                a.setAttribute("rel","modal:open");
            </script>
        {% endif %}
       
   {% endfor %}
    <!--ENDSCRIPT-->

    <script type="text/javascript">

    //FUNKCIJA: ZA FOREIGN GRADA SETUJE SVE POTREBNE ATRIBUTE ZA POPUP WINDOW
    function openForeignCity(a)
    {
       var city_array_json = {{city_list | tojson}};

       for(var i =0;i<city_array_json.length;i++)
       {//prolaz kroz listu
            var city_coordinate_combination= city_array_json[i].xCoord.toString()+","+city_array_json[i].yCoord.toString();
            if(a.id==city_coordinate_combination)
            {//dohvatili smo grad
                document.getElementById("cityName").innerHTML = city_array_json[i].name.toString();
                document.getElementById("cityOwnerPopUp").innerHTML = city_array_json[i].ownerName.toString();
                document.getElementById("tradeButton").setAttribute("href","tradingpost/trade?username=" + city_array_json[i].ownerName.toString());
                document.getElementById("attackButton").setAttribute("href","warfare?username=" + city_array_json[i].ownerName.toString());
            }
       }
     
    }
    function openPlayerCity()
    {
        window.open("/playercity","_self");
    }
        $(function() {
        
            var $ibWrapper	= $('#ib-main-wrapper'),
             
                Template	= (function() {
                        
                        // true if dragging the container
                    var kinetic_moving				= false,
                        // current index of the opened item
                        current						= -1,
                        // true if the item is being opened / closed
                        isAnimating					= false,
                        // items on the grid
                        $ibItems					= $ibWrapper.find('div.ib-main > a'),
                        // image items on the grid
                        $ibImgItems					= $ibItems.not('.ib-content'),
                        // total image items on the grid
                        imgItemsCount				= $ibImgItems.length,
                        init						= function() {
                            
                            // add a class ib-image to the image items
                            $ibImgItems.addClass('ib-image');
                            // apply the kinetic plugin to the wrapper
                            loadKinetic();
                            // load some events
                            initEvents();
                    
                        },
                        loadKinetic					= function() {
                            
                            setWrapperSize();
                            
                            $ibWrapper.kinetic({
                                moved	: function() {
                                    
                                    kinetic_moving = true;
                                    
                                },
                                stopped	: function() {
                                    
                                    kinetic_moving = false;
                                    
                                }
                            });
                            
                        },
                        setWrapperSize				= function() {
                            
                            var containerMargins	= $('#ib-top').outerHeight(true) + $('#header').outerHeight(true) + parseFloat( $ibItems.css('margin-top') );
                            $ibWrapper.css( 'height', $(window).height() - containerMargins )
                            
                        },
                        //BITNA FUNKCIJA ZA OTVARANJE SLIKE NPR
                        initEvents					= function() {
                        
                            // open the item only if not dragging the container
                            $ibItems.bind('click.ibTemplate', function( event ) {
                                //otvara item ukoliko se desi klik na njega
                                if( !kinetic_moving )
                                    openItem( $(this) );
                            
                                return false;	
                            
                            });              
                                                 
                        },
                        openItem					= function( $item ) {       
                        //ODAVDE SE OTVARA SLIKA                   
                                isAnimating	= true;
                                current	= $item.index('.ib-image');
                                loadImgPreview( $item, function() { isAnimating = false; } );                                                                             
                        },
                        // opens one image item (fullscreen)
                        loadImgPreview				= function( $item, callback ) {
                            

                            var largeSrc		= $item.children('img').data('largesrc'),
                                description		= $item.children('span').text(),
                                largeImageData	= {
                                    src			: largeSrc,
                                    description	: description
                                };
                           
                        
                         
                           
                            preloadImage( largeSrc, function() {
                           
                            
                                
                            } );
                            
                        },
                        // get the size of one image to make it full size and centered
                        getImageDim					= function( src ) {
                            
                            var img     	= new Image();
                            img.src     	= src;
                            
                            var w_w	= $(window).width(),
                                w_h	= $(window).height(),
                                r_w	= w_h / w_w,
                                i_w	= img.width,
                                i_h	= img.height,
                                r_i	= i_h / i_w,
                                new_w, new_h,
                                new_left, new_top;
                            
                            if( r_w > r_i ) {
                            
                                new_h	= w_h;
                                new_w	= w_h / r_i;
                            
                            }	
                            else {
                            
                                new_h	= w_w * r_i;
                                new_w	= w_w;
                            
                            }
                            
                            return {
                                width	: new_w,
                                height	: new_h,
                                left	: (w_w - new_w) / 2,
                                top		: (w_h - new_h) / 2
                            };
                        
                        };
                    
                    return { init : init };
                    
                })();
            
            Template.init();
            
        });
    </script>
{% endblock %}