{% extends 'userbase.html'%}

{% block head %}
<title>GAME</title>
<link rel="stylesheet" href='{{ url_for("static",filename="css/styleMap.css") }}'>
<style>
  
</style>
{% endblock %}

{% block body %}
<body id="b">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="static/js/jquery.tmpl.min.js"></script>
    <script type="text/javascript" src="static/js/jquery.kinetic.js"></script>
    <script type="text/javascript" src="static/js/jquery.easing.1.3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />


    <!--OVO JE POP UP KOJI TREBA DA SE EDIT SA INFO O GRADU-->
    <div id="ex1" class="modal" style="background-color: grey;" id="editPopUP">
        <p id="cityName">
        </p>
        <a href="#" rel="modal:close" style="color: yellow;">Close</a>
      </div>


    <div class="container">
        <div class="row">
         
          <div class="col-sm-centered">
            <div id="ib-main-wrapper" class="ib-main-wrapper"
            style="
            margin-top: auto;
            margin-left: auto;
            margin-right: auto;
            max-width: 1100px;
            max-height: 800px;"  >
            <div class="ib-main" id="ibMain">
                
                <script>      
                        
                    for(var i=1;i<=30;i++)
                    {
                        var city_position = Math.floor(Math.random() * 30);   
                        for(var j=1;j<=30;j++)
                        {
                        var h  = document.createElement("a");
                           
                        var string_source = "static/img/map_images/gridMap/image_"+i.toString()+"_"+j.toString()+".jpeg";
                        h.setAttribute("style","background: url("+string_source+") no-repeat center center;");
                        h.setAttribute("id",i.toString()+j.toString());
                        if(j==city_position)
                        {
                            /*
                            var img = document.createElement("IMG");
                            img.setAttribute("src","static/img/map_images/cityicon.png");
                            img.setAttribute("data-largesrc","static/img/map_images/cityicon.png");
                            img.setAttribute("class","imgB1");

                            h.setAttribute("href","#ex1");
                            h.setAttribute("rel","modal:open");
                            h.appendChild(img);
                            */
                        }
                        
                       // var img2 = document.createElement("IMG");
                       // img2.setAttribute("src","static/img/map_images/cityicon.png");
                        //img2.setAttribute("class","imgB1");
                       // h.appendChild(img2);
                        document.getElementById("ibMain").appendChild(h);
                        }
                                               
                    }   
                </script>
                               
                <div class="clr"></div>
            </div><!-- ib-main -->
            </div><!-- ib-main-wrapper -->
          </div>
          
        </div>
    </div>
    
    {% for city in city_list %}
    {{city.xCoord}};
    {{city.yCoord}};
    <script>     
    alert("krac");
        var x =  {{city.xCoord}};
        var y =    {{city.yCoord}};
        var image_id = x.toString()+","+y.toString();
        var img = document.createElement("img");

        img.setAttribute("src","static/img/map_images/cityicon.png");
        img.setAttribute("class","imgB1");
        img.setAttribute("id",image_id)
        img.setAttribute("onclick","openForeignCity(this)");
        var a = document.getElementById(x.toString()+y.toString()); 
        a.setAttribute("href","#ex1");
        a.setAttribute("rel","modal:open");

        a.appendChild(img);
        /*
        img.onclick = function() { 
            openForeignCity(img);
        }*/
    </script>
   {% endfor %}


    <script type="text/javascript">


    function openForeignCity(a)
    {
       var city_array_json = {{city_list | tojson}};
       alert(city_array_json.length);
     

    }
        $(function() {
        
            var $ibWrapper	= $('#ib-main-wrapper'),
             
                Template	= (function() {
                        
                        // true if dragging the container
                    var kinetic_moving				= false,
                        // current index of the opened item
                        current						= -1,
                        // true if the item is being opened / closed
                        isAnimating					= false,
                        // items on the grid
                        $ibItems					= $ibWrapper.find('div.ib-main > a'),
                        // image items on the grid
                        $ibImgItems					= $ibItems.not('.ib-content'),
                        // total image items on the grid
                        imgItemsCount				= $ibImgItems.length,
                        init						= function() {
                            
                            // add a class ib-image to the image items
                            $ibImgItems.addClass('ib-image');
                            // apply the kinetic plugin to the wrapper
                            loadKinetic();
                            // load some events
                            initEvents();
                    
                        },
                        loadKinetic					= function() {
                            
                            setWrapperSize();
                            
                            $ibWrapper.kinetic({
                                moved	: function() {
                                    
                                    kinetic_moving = true;
                                    
                                },
                                stopped	: function() {
                                    
                                    kinetic_moving = false;
                                    
                                }
                            });
                            
                        },
                        setWrapperSize				= function() {
                            
                            var containerMargins	= $('#ib-top').outerHeight(true) + $('#header').outerHeight(true) + parseFloat( $ibItems.css('margin-top') );
                            $ibWrapper.css( 'height', $(window).height() - containerMargins )
                            
                        },
                        //BITNA FUNKCIJA ZA OTVARANJE SLIKE NPR
                        initEvents					= function() {
                        
                            // open the item only if not dragging the container
                            $ibItems.bind('click.ibTemplate', function( event ) {
                                //otvara item ukoliko se desi klik na njega
                                if( !kinetic_moving )
                                    openItem( $(this) );
                            
                                return false;	
                            
                            });              
                                                 
                        },
                        openItem					= function( $item ) {       
                        //ODAVDE SE OTVARA SLIKA                   
                                isAnimating	= true;
                                current	= $item.index('.ib-image');
                                loadImgPreview( $item, function() { isAnimating = false; } );                                                                             
                        },
                        // opens one image item (fullscreen)
                        loadImgPreview				= function( $item, callback ) {
                            

                            var largeSrc		= $item.children('img').data('largesrc'),
                                description		= $item.children('span').text(),
                                largeImageData	= {
                                    src			: largeSrc,
                                    description	: description
                                };
                           
                        
                         
                           
                            preloadImage( largeSrc, function() {
                           
                            
                                
                            } );
                            
                        },
                        // get the size of one image to make it full size and centered
                        getImageDim					= function( src ) {
                            
                            var img     	= new Image();
                            img.src     	= src;
                            
                            var w_w	= $(window).width(),
                                w_h	= $(window).height(),
                                r_w	= w_h / w_w,
                                i_w	= img.width,
                                i_h	= img.height,
                                r_i	= i_h / i_w,
                                new_w, new_h,
                                new_left, new_top;
                            
                            if( r_w > r_i ) {
                            
                                new_h	= w_h;
                                new_w	= w_h / r_i;
                            
                            }	
                            else {
                            
                                new_h	= w_w * r_i;
                                new_w	= w_w;
                            
                            }
                            
                            return {
                                width	: new_w,
                                height	: new_h,
                                left	: (w_w - new_w) / 2,
                                top		: (w_h - new_h) / 2
                            };
                        
                        };
                    
                    return { init : init };
                    
                })();
            
            Template.init();
            
        });
    </script>
{% endblock %}