{% extends 'userbase.html'%}

{% block head %}
<title>Kavijar</title>
{% endblock %}

{% block body %}


    <div class="row-fluid myBorder text-center center-block">
        <div class="col-sm-12">
            
            <h1><b>{{city.name}}</b></h1>
            <table class='citytable' cellpadding=20px style='margin:0 auto;'>
                
                <tr>
                    {% for bld in buildings %}
                    {% set imgurl="img/buildings/" + bld.type ~ bld.level + ".png" %}
                    {% if bld.level>0 %}
                    <td class='citytile'><a href='{{url_for("building.building_main", b_type=bld.type) }}'><img src= '{{url_for("static", filename=imgurl) }}' class='building'></a><br> {{ buildingnames[bld.type] }}</td>
                    {% else %}
                    <td class='citytile'><img src= '{{url_for("static", filename="img/buildings/empty.png") }}' class='building' ><br>{{ buildingnames[bld.type] }}</td>
                    {% endif %}
                        {% if loop.index%3==0 %}
                        </tr><tr>
                        {% endif %}
                    {% endfor %}
                </tr>

            </table>
            <hr>
            Populacija {{city.population|round|int}}
            <br>
            <img class='cityimg' src='{{url_for("static", filename="img/villager.png") }}'> {{city.civilians}}
            <img class='cityimg' src='{{url_for("static", filename="img/axe.png") }}'> {{city.woodworkers}}
            <img class='cityimg' src='{{url_for("static", filename="img/pickaxe.png") }}'> {{city.stoneworkers}}
            <br>
            Resursi
            <br>
            <img class='cityimg' src='{{url_for("static", filename="img/gold.png") }}'> {{city.gold|int}}
            <img class='cityimg' src='{{url_for("static", filename="img/wood.png") }}'> {{city.wood|int}}
            <img class='cityimg' src='{{url_for("static", filename="img/stone.png") }}'> {{city.stone|int}}
        </div>
    </div>
{% endblock %}