{% extends 'userbase.html'%}

{% block head %}
<title>Kavijar</title>
{% endblock %}


{% block body %}
    <div class="row">
        <div class="col-lg-3 col-md-12 list myBorder">
            <h4><b>Spisak korisnika</b></h4>
            {% for user in user_list %}
            {% if user.role == 'M' %}
            [Moderator]
            {% endif %}
            {% if user.role == 'A' %}
            [Admin]
            {% endif %}
            {{user.username}}<br>
            {% endfor %}
        </div>
        <div class="col-lg-8 col-md-12 text-center" >
            <form method='POST' action='create_mod' class='myBorder' style='width:100%'>
                <table cellpadding=15px style='margin:0 auto'>
                    <tr>
                        <td>
                            Korisničko ime:
                        </td>
                        <td>
                            <input type = 'text' name='username' class='input'>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Šifra:
                        </td>
                        <td>
                            <input type = 'password' name='password' class='input'>
                        </td>
                    </tr>
                    <tr>
                        <td colspan=2 class='text-center'>
                            <input type='submit'class='def-button' value='Kreiraj moderatora'>
                        </td>
                    </tr>
                </table>
            </form>
            <hr>
            <form method='POST' action='ban' class='myBorder' style='width:100%'>
                <table cellpadding=15px style='margin:0 auto'>
                    <tr>
                        <td>
                            Korisničko ime:
                        </td>
                        <td>
                            <input type = 'text' name='banUsername' class='input'>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Rok bana:
                        </td>
                        <td>
                            <input type = 'date' name='banDate' class='input'>
                        </td>
                    </tr>
                    <tr>
                        <td colspan=2 class='text-center'>
                            <input type='submit' class='def-button' value='Banuj igrača'>
                        </td>
                    </tr>
                </table>
            </form>
            <hr>
            {% for message in get_flashed_messages() %}
            <button class="error-msg" disabled>{{ message }}</button>
            {% endfor %}
        </div>
    </div>

{% endblock %}