{% extends 'loginbase.html'%}

{% block head %}
<title>Kavijar</title>
{% endblock %}


{% block body %}
<div class="row">
    <div class="col-sm-12 text-center">
        <form class = 'login-form' name = 'login' method = 'POST'>
            <p><b>Korisničko ime:</b><br><input type="text" name="username" class='login-input' id='loginusername' required></p>
            <p><b>Šifra:</b><br><input type="password" name="password" class='login-input' id='loginpwd' required></p>
            <br>
            <input type='submit' class='login-button' value='Prijavi se' name='loginuser' formaction="">
            <br>
            <br>
            <input type='submit' class='register-button' value='Registruj se' name='loginuser'>
            <br>
        </form>
    </div>
</div>
{% endblock %}