{% extends 'loginbase.html'%}

{% block head %}
<title>Kavijar</title>
{% endblock %}


{% block body %}
<div class="row">
    <div class="col-sm-4 offset-sm-4 text-center myBorder">
        <form class = 'register-form' name = 'register' method = 'POST'>
            <p><b>Korisničko ime:</b><br><input type="text" name="username" class='input login-input' id='registerusername' required></p>
            <p><b>Šifra:</b><br><input type="password" name="password" class='input login-input' id='registerpwd' required></p>
            <p><b>Ime grada:</b><br><input type="text" name="cityname" class='input login-input' id='registercityname' required></p>
            <br>
            <input type='submit' class='def-button login-button' value='Potvrdi' name='registeruser' formaction="">
            <br>
            <br>

        </form>
        <br>
    </div>
</div>
{% endblock %}