{% extends 'buildingbase.html'%}

{% block head %}
<title>Kavijar</title>
{% endblock %}

{% block body %}

    <div class="row-fluid myBorder text-center center-block">
        <div class="col-sm-12">
            {% if building_info.level>0 %}
            <h1><b>Baraka za konjicu {{building_info.level}}</b></h1>
            {% if building_info.status=='U' %}
            Vreme završetka {{ building_info.finishTime }}
            <hr>
            {% endif %}
            Garnizon: 
            {{ garrison.lakaPesadija }}<img class='cityimgsm' src='{{url_for("static", filename="img/units/LP.png") }}'> 
            {{ garrison.teskaPesadija }}<img class='cityimgsm' src='{{url_for("static", filename="img/units/TP.png") }}'> 
            {{ garrison.strelci }}<img class='cityimgsm' src='{{url_for("static", filename="img/units/ST.png") }}'>
            {{ garrison.samostrelci }}<img class='cityimgsm' src='{{url_for("static", filename="img/units/SS.png") }}'> 
            {{ garrison.lakaKonjica }}<img class='cityimgsm' src='{{url_for("static", filename="img/units/LK.png") }}'> 
            {{ garrison.teskaKonjica }}<img class='cityimgsm' src='{{url_for("static", filename="img/units/TK.png") }}'> 
            {{ garrison.katapult}}<img class='cityimgsm' src='{{url_for("static", filename="img/units/KT.png") }}'> 
            {{ garrison.trebuset }}<img class='cityimgsm' src='{{url_for("static", filename="img/units/TR.png") }}'> 
            <hr>
            Regrutuju se:
            {{ waiting_for_recruitment['LP'] }}<img class='cityimgsm' src='{{url_for("static", filename="img/units/LP.png") }}'> 
            {{ waiting_for_recruitment['TP'] }}<img class='cityimgsm' src='{{url_for("static", filename="img/units/TP.png") }}'> 
            {{ waiting_for_recruitment['ST'] }}<img class='cityimgsm' src='{{url_for("static", filename="img/units/ST.png") }}'>
            {{ waiting_for_recruitment['SS']}}<img class='cityimgsm' src='{{url_for("static", filename="img/units/SS.png") }}'> 
            {{ waiting_for_recruitment['LK'] }}<img class='cityimgsm' src='{{url_for("static", filename="img/units/LK.png") }}'> 
            {{waiting_for_recruitment['TK'] }}<img class='cityimgsm' src='{{url_for("static", filename="img/units/TK.png") }}'> 
            {{ waiting_for_recruitment['KT']}}<img class='cityimgsm' src='{{url_for("static", filename="img/units/KT.png") }}'> 
            {{ waiting_for_recruitment['TR'] }}<img class='cityimgsm' src='{{url_for("static", filename="img/units/TR.png") }}'> 
            <hr>
            <form action='/playercity/recruit_unit/LK' method='POST'>
               Laka konjica <img class='cityimgsm' src='{{url_for("static", filename="img/units/LK.png") }}'>
                <input type='number' class='input inputnum' name='quantity'> x {{ g.unit_costs['LK']['population'] }} <img class='cityimgsm' src='{{url_for("static", filename="img/villager.png") }}'> {{ g.unit_costs['LK']['gold']}}  <img class='cityimgsm' src='{{url_for("static", filename="img/gold.png") }}'>
                 <input type='submit' class='def-button' value='Regrutuj'>
            </form>
            <hr>
                {% if building_info.level>2 %}
                <form action='/playercity/recruit_unit/TK' method='POST'>
                    Teška konjica <img class='cityimgsm' src='{{url_for("static", filename="img/units/TK.png") }}'>
                     <input type='number' class='input inputnum' name='quantity'> x {{ g.unit_costs['TK']['population'] }} <img class='cityimgsm' src='{{url_for("static", filename="img/villager.png") }}'> 
                     {{ g.unit_costs['TK']['gold']}}  <img class='cityimgsm' src='{{url_for("static", filename="img/gold.png") }}'>
                      <input type='submit' class='def-button' value='Regrutuj'>
                 </form>
                {% else %}
                Unapredite zgradu za jace vojnike
                {% endif %}
            <br><br>
            {% else %}
            <h1><b>Nemate baraku za konjicu</b></h1>
                {% if building_info.status=='U' %}
                Vreme završetka {{ building_info.finishTime }}
                <hr>
                {% endif %}
            {% endif %}
        </div>
        
    </div>
    
{% endblock %}
