{% extends 'buildingbase.html'%}

{% block head %}
<title>Kavijar</title>
{% endblock %}

{% block body %}

    <div class="row-fluid myBorder text-center center-block">
        <div class="col-sm-12">
            {% if building_info.level>0 %}
            <h1><b>Pilana {{building_info.level}}</b></h1>
            Trenutan broj radnika {{city.woodworkers}}/{{ max_cap }}  <img class='cityimgsm' src='{{url_for("static", filename="img/axe.png") }}'>
            <br>
            Trenutan prinos po satu {{ income_dict['wood']|int }} <img class='cityimgsm' src='{{url_for("static", filename="img/wood.png") }}'>
            <br>
            <br>
            {% else %}
            <h1><b>Nemate Pilanu</b></h1>
            
            {% endif %}
        </div>
        
    </div>
    
{% endblock %}
