{% extends 'userbase.html'%}

{% block head %}
<title>Kavijar</title>
{% endblock %}

{% block body %}

    <div class="row-fluid myBorder text-center center-block">
        <div class="col-sm-12">
            {% if 1>0 %}
            <h1><b>Trgovinska stanica</b></h1>
            <h3><b>Primljeni zahtevi</b></h3>
            {% if trades_received|length < 1 %}
            <h4>Nemate primljenih zahteva</h4>
            <hr>
            {% endif %}
            {% for trade in trades_received %}
            <table cellpadding=10px width=50% style='margin:0 auto;'>
            <tr>
                <td>Nudi:</td>
                <td><img class='cityimg' src='{{url_for("static", filename="img/gold.png") }}'> {{trade.gold1|int}}</td>
                <td><img class='cityimg' src='{{url_for("static", filename="img/wood.png") }}'> {{trade.wood1|int}}</td>
                <td><img class='cityimg' src='{{url_for("static", filename="img/stone.png") }}'> {{trade.stone1|int}}</td>
                <td><form method='POST' action='accept_trade/{{trade.idTrade}}'><input type='submit' class='def-button' value='Prihvati'></form></td>
            </tr>
            <tr>
                <td>Zahteva:</td>
                <td><img class='cityimg' src='{{url_for("static", filename="img/gold.png") }}'> {{trade.gold2|int}}</td>
                <td><img class='cityimg' src='{{url_for("static", filename="img/wood.png") }}'> {{trade.wood2|int}}</td>
                <td><img class='cityimg' src='{{url_for("static", filename="img/stone.png") }}'> {{trade.stone2|int}}</td>
                <td><form method='POST' action='reject_trade/{{trade.idTrade}}'><input type='submit' class='def-button' value='Odbij'></form></td>
            </tr>
            </table>
            <hr>
            {% endfor %}
            <h3><b>Poslati zahtevi</b></h3>
            {% if trades_sent|length < 1 %}
            <h4>Nemate poslatih zahteva</h4>
            <hr>
            {% endif %}
            {% for trade in trades_sent %}
            <table cellpadding=10px width=50% style='margin:0 auto;'>
            <tr>
                <td>Nudite:</td>
                <td><img class='cityimg' src='{{url_for("static", filename="img/gold.png") }}'> {{trade.gold1|int}}</td>
                <td><img class='cityimg' src='{{url_for("static", filename="img/wood.png") }}'> {{trade.wood1|int}}</td>
                <td><img class='cityimg' src='{{url_for("static", filename="img/stone.png") }}'> {{trade.stone1|int}}</td>
            </tr>
            <tr>
                <td>Zahtevate:</td>
                <td><img class='cityimg' src='{{url_for("static", filename="img/gold.png") }}'> {{trade.gold2|int}}</td>
                <td><img class='cityimg' src='{{url_for("static", filename="img/wood.png") }}'> {{trade.wood2|int}}</td>
                <td><img class='cityimg' src='{{url_for("static", filename="img/stone.png") }}'> {{trade.stone2|int}}</td>
                <td rowspan=2><td><form method='POST' action='cancel_trade/{{trade.idTrade}}'><input type='submit' class='def-button' value='Otkazi'></form></td></td>
            </tr>
            </table>
            <hr>
            {% endfor %}
            {% else %}
            <h1>Nemate izgradjenu trgovinsku stanicu!</h1>
            {% endif %}
            <h3><b>Resursi</b></h3>
            <img class='cityimg' src='{{url_for("static", filename="img/gold.png") }}'> {{city.gold|int}}
            <img class='cityimg' src='{{url_for("static", filename="img/wood.png") }}'> {{city.wood|int}}
            <img class='cityimg' src='{{url_for("static", filename="img/stone.png") }}'> {{city.stone|int}}
            <br><br>
            <a href='{{url_for("tradingpost.trade_main")}}'><button class='def-button'>Nova ponuda</button></a>
            <br><br>
        </div>
        
    </div>
{% endblock %}

{% block actions %}
<a><button class='def-button'>Izgradi</button></a>

{% endblock %}