{% extends 'buildingbase.html'%}

{% block head %}
<title>Kavijar</title>
{% endblock %}

{% block body %}

    <div class="row-fluid myBorder text-center center-block">
        <div class="col-sm-12">
            {% if building_info.level>0 %}
            <h1><b>Gradska uprava {{building_info.level}}</b></h1>
            Trenutna raspodela populacije {{city.population|round|int}}
            <br>
            <img class='cityimgsm' src='{{url_for("static", filename="img/villager.png") }}'> {{city.civilians}}
            <img class='cityimgsm' src='{{url_for("static", filename="img/axe.png") }}'> {{city.woodworkers}}
            <img class='cityimgsm' src='{{url_for("static", filename="img/pickaxe.png") }}'> {{city.stoneworkers}}
            <hr>
            Preraspodeli:
            <br>
            <form method='POST' action='/playercity/reassign_workers'>
            <img class='cityimg' src='{{url_for("static", filename="img/axe.png") }}'> <input type='number' class='input inputnum' name='woodworkers'><br>
            <img class='cityimg' src='{{url_for("static", filename="img/pickaxe.png") }}'> <input type='number' class='input inputnum' name='stoneworkers'><br>
            <br>
            <input type='submit' class='def-button' value='Potvrdi'>
            </form>
            <br>
            {% else %}
            <h1><b>Nemate gradsku upravu</b></h1>
            
            {% endif %}
        </div>
        
    </div>
    
{% endblock %}
