{% extends 'userbase.html'%}

{% block head %}
<title>Kavijar</title>
{% endblock %}

{% block body %}


    <div class="row-fluid myBorder text-center center-block">
        <div class="col-sm-12">
            <form method='POST' action="create_trade">
            <br>
            <b> Igrac: <input type='text' class='input' name='username' value={{username}}></b>
            <hr>
            <h3><b>Ponudi</b></h3>
            <img class='cityimg' src='{{url_for("static", filename="img/gold.png") }}'>: <input type='number' class='input inputnum' name='gold1' value=0>
            <img class='cityimg' src='{{url_for("static", filename="img/wood.png") }}'>: <input type='number' class='input inputnum'  name='wood1' value=0>
            <img class='cityimg' src='{{url_for("static", filename="img/stone.png") }}'>: <input type='number' class='input inputnum'  name='stone1' value=0>
            <br>
            <h3><b>Zahtevaj</b></h3>
            <img class='cityimg' src='{{url_for("static", filename="img/gold.png") }}'>: <input type='number' class='input inputnum' name='gold2' value=0>
            <img class='cityimg' src='{{url_for("static", filename="img/wood.png") }}'>: <input type='number' class='input inputnum'  name='wood2' value=0>
            <img class='cityimg' src='{{url_for("static", filename="img/stone.png") }}'>: <input type='number' class='input inputnum'  name='stone2' value=0>
            <br>
            <br>
            <input type='submit' class='def-button' value='Pošalji'>
            </form>
            <hr>
            <h3><b>Resursi</b></h3>
            <img class='cityimg' src='{{url_for("static", filename="img/gold.png") }}'> {{city.gold|int}}
            <img class='cityimg' src='{{url_for("static", filename="img/wood.png") }}'> {{city.wood|int}}
            <img class='cityimg' src='{{url_for("static", filename="img/stone.png") }}'> {{city.stone|int}}
        </div>
    </div>
{% endblock %}